


<mat-card class="card wrapper">
  <div fxLayout>
    <mat-card-header>
      <mat-card-title>
   <img src="{{post.posterPhotoUrl }}" class="avatar" style="   content: ' ';
   display: block;
   width: 80px;
height: 70px;
background-size: cover;
   background-image: url(./../../../assets/user.png);" /> 
  
{{ post.posterName }}</mat-card-title>

      <mat-card-subtitle style="color: black !important;">
        {{post.dateCreated  | date:'medium' }}</mat-card-subtitle>
      

    </mat-card-header>
    </div>
    
    <mat-card-content>
      <p [innerHTML]='post.content'>{{post.content}} </p>
      <img src="{{post.photoUrl }}" class="ccc" alt="" /> 

    </mat-card-content>
    <mat-card-actions class="action-btn" fxLayout fxLayoutAlign="space-between">
      <div class="like-dislike-btn">
        <button (click)="likePost(post)" mat-button>
          <mat-icon>thumb_up_alt</mat-icon>
        </button>
        <span #like class="likes">
          {{ post.likes }}
        </span>
  
        
       
      
  
      <!-- <button mat-button >
        <mat-icon>delete</mat-icon>
      </button> -->
  
      <button (click)="getDetails()" mat-button>
        <mat-icon>more_horiz</mat-icon>
      </button>
      </div>

      <!-- <div id="comment-section" [ngClass]="{'comment-section-show': expanded}"
            (scroll)="onTableScroll($event, post.postId)" class="comment-section">
            <div *ngFor="let comment of commentResult?.results" class="comment-item">
                <div class="d-flex flex-row">
                    <div class="comment-user">
                        <div *ngIf="comment.creator.userIdentity.userPictureId" class="profile-picture">
                        </div>
                        <div *ngIf="!comment.creator.userIdentity.userPictureId"
                            class="d-flex justify-content-center align-items-center profile-avatar">
                            <div><span class="user-avatar z-depth-0" alt="avatar image white">{{
                                    comment.creator.userIdentity.snom.charAt(0).toUpperCase() +
                                    comment.creator.userIdentity.sprenom.charAt(0).toUpperCase() }}</span></div>
                        </div>
                    </div>
                    <div style="width: 100%;" class="d-flex flex-column">
                        <div class="comment-content">

                            <p class="navy"><b>{{comment.creator.userIdentity.snom + ' ' +
                                    comment.creator.userIdentity.sprenom}}</b> - {{comment.dtcreation | date:
                                'dd MMMM yyyy hh:mm a'}}</p>
                            <p>{{comment.comment}}</p>
                        </div>
                        <div class="comment-react">
                            <div class="d-flex flex-row">

                                <!--<p class="navy" style="margin-right: 20px"><span class="fas fa-heart"></span>Like - 34
                                    Likes</p>
                                <p class="navy"><span class="fas fa-share"></span>Reply - 2 Replies</p>-->
                            <!-- </div>
                        </div>
                    </div>

                </div>

            </div>
        </div> --> 
    </mat-card-actions>
  </mat-card>

  <br>
  <br>