


<mat-card class="card wrapper">
  <div fxLayout>
    <mat-card-header>
      <mat-card-title>
   <img src="{{post.posterPhotoUrl }}" class="avatar" alt="No Avatar" /> 
{{ post.title }}</mat-card-title>

      <mat-card-subtitle style="color: black !important;">Created on:
        {{
          post.dateCreated  | date: "dd.MM.yyyy hh:mm:SS"
        }}</mat-card-subtitle>
      <mat-card-subtitle style="color: black !important;">
        Created by: {{ post.posterName }}</mat-card-subtitle>

    </mat-card-header>
    </div>
    <img src="{{post.posterPhotoUrl }}" alt="aa"
          class="card-img-top img-thumbnail"> 
    <mat-card-content>
      <p>{{post.content}} </p>
    </mat-card-content>
    <mat-card-actions class="action-btn" fxLayout fxLayoutAlign="space-between">
      <div class="like-dislike-btn">
        <button (click)="likePost(post)" mat-button>
          <mat-icon>thumb_up_alt</mat-icon>
        </button>
        <span #like class="likes">
          {{ post.likes }}
        </span>
  
        
       
      
  
      <button mat-button >
        <mat-icon>delete</mat-icon>
      </button>
  
      <button (click)="getDetails()" mat-button>
        <mat-icon>more_horiz</mat-icon>
      </button>
      </div>
    </mat-card-actions>
  </mat-card>

  <br>
  <br>