<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.email}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="mb-2" *ngIf="(presence.onlineUsers$ | async).includes(member.username)" >
                    <i class="fa fa-user-circle text-success"></i> Online now
                </div>
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}} {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created | date: 'dd MMM yyyy'}}</p>
                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>

    <!-- <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading='About {{member.email}}' (selectTab)="onTabActivated($event)">
                <h4>Quiz Score</h4>
                <div *ngIf="resultsVis && (filtersLoaded | async)" id ='surveyResult'>
                    {{QuizResults[0][domaine]}}
                    <tr *ngFor = "let QuizResult of QuizResults">
                        <td class="col-sm-2">
                          {{QuizResult.domaine}}
                        </td>
                        <td class="col-sm-6">
                            <ngb-progressbar type="success" [value]='QuizResult.note' [showValue]="true"></ngb-progressbar>

                          </td>
                      </tr>
                </div> -->




    </div>
