


  <div>
    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">
</div>
<div class="row pb-4">
    <div class="col-md-5">
            <div class="fh5co_news_img"><img src="{{post.photoUrl}}" alt=""/></div>
            <div>
        </div>
    </div>
    <div class="col-md-7 animate-box">
        <a href="Actuality/{{post.postId}}" class="fh5co_magna py-2"> {{post.title}}  <br>  </a> <a href="Actuality/{{post.postId}}" class="fh5co_mini_time py-3">
      
          {{post.posterName}} 
          {{post.dateCreated | date: 'dd MMM yyyy'}} </a>
        <div class="fh5co_consectetur">
            <p style="
            width: 100%;
            line-height: 1.2em;
            height: 3.6em;
            background-color: rgb(255, 255, 255);
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;"> {{post.content}}</p>
          <a class="btn btn-primary" href="Actuality/{{post.postId}}">ReadMore</a>
        </div>
    </div>
</div>

