
<div class="wrapper" fxLayout>
  <div
    class="sign-up-container"
    fxFlex
    fxLayout="column"
    fxLayoutGap="15px"
    fxLayoutAlign="center"
  >
        <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" 
        autocomplete="off"> 
        <ul><li>
        <h2 class="text-center text-primary">
          Login
        </h2></li>
          <li>
        <input
            name="username"
            [(ngModel)]="model.username"
            class="form-control mr-sm-2" 
            type="text" 
            placeholder="Username"> </li>
            <li>
        <input 
            name="password"
            [(ngModel)]="model.password"
            class="form-control mr-sm-2" 
            type="password" 
            placeholder="Password"></li>
           <li>
        <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button></li>
       </ul>
      </form>