<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>Ma boussoule</a>

        <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/Home' routerLinkActive='active' >Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink='/Filieres-Orientations' routerLinkActive='active'>Filieres & Orientations</a>
                </li>
              
                
                <li class="nav-item">
                    <a class="nav-link" routerLink='/Formation' routerLinkActive='active' >Formations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/Geolocation' routerLinkActive='active' >Geolocation </a>
                </li>
             

                <ng-container *ngIf="accountService.currentUser$ | async">
                    <!-- <li *appHasRole='["Member","Admin", "Moderator"]' class="nav-item">
                        <a class="nav-link" routerLink='/post/list'routerLinkActive='active' >Posts </a>
                    </li> -->
                <li *appHasRole='["Admin", "Moderator"]' class="nav-item">
                    <a class="nav-link" routerLink='/admin'routerLinkActive='active' >Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/Quiz' routerLinkActive='active' >Quiz</a>
                </li>
            </ng-container>

        </ul>

        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
            <a class="dropdown-toggle text-light ml-2" dropdownToggle>Bienvenu {{user.knownAs || user.username | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a routerLink='{{"/members/" + user.username}}' class="dropdown-item">Mon Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()" >Logout</a>
            </div>
        </div>

        <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" (ngSubmit)="onSubmit(buttonType)" class="form-inline mt-2 mt-md-0">
            <div class="text-center" *ngIf="(accountService.currentUser$ | async) === null" >


                <a href="Register" role="button">
                    <button  class="btn btn-primary" (click)="onSubmit('register')" type="submit" style="    background-color: #1b52a5;">
                        S'inscrire</button></a>
                <a href="Login" role="button">
                    <button class="btn btn-info my-2 my-sm-0" (click)="onSubmit('login')" type="submit">Se connecter</button></a>
    
          </div>

        </form>
    </div>


</nav>