
     <div class="container-fluid pb-4 pt-4 paddding">
      <div class="container paddding">
        <div class="row mx-0">
  
              <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft" *ngFor="let post of posts" >
                  
                  <app-post-card [post]="post"></app-post-card>
                    

              </div>
             
            <div class="d-flex justify-content-center" *ngIf="pagination">
                <pagination 
                    [boundaryLinks]="true" 
                    [totalItems]="pagination.totalItems"
                    [itemsPerPage]="pagination.itemsPerPage"
                    [(ngModel)]="pagination.currentPage"
                    (pageChanged)="pageChanged($event)"
                    previousText="&lsaquo;" 
                    nextText="&rsaquo;" 
                    firstText="&laquo;" 
                    lastText="&raquo;">
            </pagination></div>

   <div class="col-md-3 animate-box" data-animate-effect="fadeInRight"  style="position: fixed; margin-left: 793px;">
      <div>
          
      <div class="clearfix">
       
<div class="row">


<a href="post/create" role="button">
<button  class="btn btn-primary" type="submit">Create Post</button>
</a>


</div>
      </div>
      
      
  
  
  </div>
</div></div></div>

