
     <div class="container-fluid pb-4 pt-4 paddding">
      <div class="container paddding">
        <div class="row mx-0">

          <div class="postCard" >
  <app-create-post></app-create-post>
</div>
              <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft" *ngFor="let post of posts" >
                  
                  <app-post-card [post]="post"></app-post-card>                
              </div>
              
            <div class="d-flex justify-content-center" *ngIf="pagination">
                <pagination 
                    [boundaryLinks]="true" 
                    [totalItems]="pagination.totalItems"
                    [itemsPerPage]="pagination.itemsPerPage"
                    [(ngModel)]="pagination.currentPage"
                    (pageChanged)="pageChanged($event)"
                    previousText="&lsaquo;" 
                    nextText="&rsaquo;" 
                    firstText="&laquo;" 
                    lastText="&raquo;">
            </pagination></div>


<!-- <app-create-post> </app-create-post> -->
  

<div class="col-md-3 animate-box" data-animate-effect="fadeInRight"  style="position:relative;margin-left: 793px;">
      <div style="
      width: 68px;
      margin-top: -2799px">
          
      <div class="clearfix">
       

</div>


      </div>
     
  </div>
</div></div></div>

