<div class='flx'>
<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div *ngIf="formation.secteur?.includes('Public') " class="card-header" style="background-color: #556fff;"> {{formation.name}}</div>
    <div *ngIf="formation.secteur?.includes('Privé')  " class="card-header" style="background-color: #ff6055;">{{formation.name}}</div>
    <!-- <div class="card-body" style="overflow-y: scroll; height:300px; overflow: auto"> -->

      <div class='demoScroll sc5'>
        <div class='h500'>
         <ul> <table>
            

          
<tr><td><li> <p class="card-text"><b>Ville </b></li></td>
<td style=" padding: 14px;">{{formation.ville}}</td></tr>

    <tr><td> <li><p class="card-text" ><b>Domaine </b></li></td>
      <td style=" padding: 14px;">{{formation.domaine}}<br></td></tr>

    <tr><td>    <li> <p class="card-text"><b>Site </b></li></td>
     <td> <a href= "{{formation.site}}">{{formation.site}}</a></td></tr>
    </table>


    <li>  <p style=" padding-top: 17px;" class="card-text"><b >Etablissement </b> </li>
       <h4 *ngFor="let etablissement of hack(formation.etablissement | split)">
      
        
           - {{etablissement}} </h4>
      
     </ul>

    </div></div></div>
  </div>

