<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div *ngIf="formation.secteur?.includes('Public') " class="card-header" style="background-color: #556fff;"> {{formation.name}}</div>
    <div *ngIf="formation.secteur?.includes('Privé')  " class="card-header" style="background-color: #ff6055;">{{formation.name}}</div>
    <div class="card-body">
      <p class="card-text"><b>Ville :</b><br>{{formation.ville}}</p>

      <p class="card-title"><b>Secteur : </b>{{formation.secteur}}  </p>
      <p class="card-text"><b>Etablissement :</b>{{formation.etablissement}}</p>
      <p class="card-text"><b>Domaine :</b><br>{{formation.domaine}}</p>

    </div>
  </div>