<p class="h2">Résultat de Quiz :</p>

<div id="surveyElement" style="display:inline-block;width:100%;"></div>



<div *ngIf="resultsVis && (filtersLoaded | async)" id ='surveyResult'>
    {{QuizResults[0][domaine]}}
    <tr *ngFor = "let QuizResult of QuizResults">
        <td class="col-sm-2">
          {{QuizResult.domaine}}
        </td>
        <td class="col-sm-6">
            <ngb-progressbar type="success" [value]='QuizResult.note' [showValue]="true"></ngb-progressbar>

          </td>
      </tr>
</div>

<div id ='surveyResult' style="display: none;"></div>
<br>
<br>
<button disabled id="confirm" class="btn btn-success" (click)="onSave()">confirm</button>
<button class="btn btn-warning"(click)="onRetake()">retake</button>