<!-- <ul id="qsSelector" class="selector_1">
   <li id="qsOne"><a href="javascript:;" style="cursor:default"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-stack-1x fa-inverse">1</i></span>Introduction</a></li>
   <li id="qsTwo"><a href="javascript:;" style="cursor:default"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-stack-1x fa-inverse">2</i></span>Questionnaire</a></li>
   <li id="qsThree"><a href="javascript:;" style="cursor:default"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-stack-1x fa-inverse">3</i></span>Résultats</a></li>
 </ul> -->
 <div id="qsBox" class="clearfix">
   <h2>Quels secteurs d'activités m'intéressent le plus?</h2>
   <p>Test d’orientation </p>				
   <p>Ce test te permettra d’entamer une réflexion sur ton choix de programme d’études collégiales, mais attention, il ne constitue pas une démarche d’orientation complète. Afin d’obtenir de l’aide pour ton choix de carrière ou pour spécifier le projet professionnel qui correspond le mieux à tes intérêts, </p>
   <p>En 3 minutes, détermine quel secteur de travail est le plus susceptible de te rendre heureux! À la fin du test, différents programmes offerts  te seront proposés, mais sache qu’il en existe plusieurs autres.</p>
   <ul>
     <li>Genie Mecanique</li>
     <li>Informatique</li>
     <li>Genie civil</li>
     <li>Genie Industriel</li>
     <li>Biologie et environnement</li>
     <li>Electricite Electronique</li>
   </ul>
   
   <a class="btn btn-primary" href="Quiz/Metier">Débuter le test</a>

   <!--Ceci était dans le a mais faisait bugger IE->LogGoogle('/testorientation/debut');-->
 </div>
 
 