    
<div class="col-sm-4" style="position: absolute;    left: -30px;
" > 
    <div class="filtres-container formations"  > 
        
        <br>
        <label style="margin-left: 50px;
        ">Filter de recherche</label>
        
        
<form  (ngSubmit)="Rechercher()" autocomplete="on"action="" method="post" id="ecoles_search_form" novalidate="true" data-toggle="validator"> 
<div class="row form-group" style="margin-right: -400px;">
<div class="col-sm-4 mb-20" style=" background-color: #0275d8 ;border-radius: 25% 10%;" >
<span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-ecole_search_form_ville-container"><span class="select2-selection__rendered" id="select2-ecole_search_form_ville-container" title="Choisir une ville"></span>
<span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span>
<span class="dropdown-wrapper" aria-hidden="true"></span>
<br>
<br>
<label for="secteur">Secteur  </label>  
<select [(ngModel)]="formation.Secteur" style="width: 225px;" id="ecole_search_form_secteur" name="ecole_search_form[secteur]" class="selecter form-control">
<option value="a">Choisir le secteur</option><option value="privé">Privé</option>
<option value="public">Public</option></select>
                    
                    
                        

<div class="clearfix" style="width: 0%;">
                                
                                
                      
    <label for="secteur" >Ville  </label>  
<select [(ngModel)]="formation.Ville"  id="ecole_search_form_secteur" name="ecole_search_form[secteur]" class="selecter form-control"style="width: 225px;">
          
          
          
           <option *ngFor = "let ville of villes" [value]='ville'>{{ville}}</option>
        
        </select>                      

<label for="formation">Type d'école</label>  

<select [(ngModel)]="formation.Etablissement" style="width: 225px;" value="a" id="ecole_search_form_type_formation" name="ecole_search_form[type_formation]"style="width: 225px;" class="selecter form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
    
        
                       
                       
                       
        <option value="">Choisir le type </option>
        
        <option value="BTS">BTS</option><option value="Business School">Business School</option><option value="1117">Classes Prépa MP</option><option value="11252">Classes prépa BCPST</option><option value="11253">Classes prépa ECS</option><option value="1116">Classes prépa ECT</option><option value="1115">Classes prépa HEC</option>
        <option value="Classes prépa LSH">Classes prépa LSH</option><option value="11250">Classes prépa PSI</option><option value="11251">Classes prépa TSI</option><option value="1111">Classes préparatoires</option><option value="1391">Commerce, Gestion, Communication</option><option value="1404">Ecole d'Architecture</option><option value="1397">Ecoles Agroalimentaire</option>
        <option value="Ecoles Art Design">Ecoles Art Design</option><option value="1403">Ecoles Environnement &amp; Qualité</option><option value="1401">Ecoles Informatique &amp; Web</option><option value="1400">Ecoles Journalisme &amp; Média</option><option value="1402">Ecoles Paramédicales</option><option value="1389">Ecoles Spécialisées</option><option value="1394">Ecoles d'Ingenieur Informatique</option>
        <option value="Ecoles d'Optique">Ecoles d'Optique</option><option value="11327">Ecoles d'audiovisuel et de cinéma</option><option value="11284">Ecoles d'infographie</option><option value="1107">Ecoles d'ingénieurs</option><option value="1104">Ecoles de Communication</option><option value="1399">Ecoles de Kinésithérapie</option><option value="1103">Ecoles de Management</option><option value="1396">Ecoles de Tourisme</option>
        <option value="Ecoles de Télécommunication">Ecoles de Télécommunication</option><option value="1101">Ecoles de commerce</option><option value="1114">Ecoles de gestion</option><option value="1102">Ecoles de marketing</option><option value="11283">Ecoles de photographie</option><option value="1407">Ecoles Électronique</option><option value="1388">Enseignement militaire</option><option value="1390">Facultés</option>
        <option value="Facultés d'économie">Facultés d'économie</option><option value="1108">Facultés de droit</option><option value="1121">Facultés de médecine</option><option value="1122">Facultés de médecine dentaire</option><option value="1110">Facultés de sciences juridiques</option><option value="11328">Facultés des langues et cultures</option><option value="1392">Facultés des lettres et des sciences humaines</option>
        <option value="Facultés des sciences appliquées">Facultés des sciences appliquées</option><option value="11325">Facultés des sciences de l'éducation</option><option value="11330">Facultés des sciences de la religion</option><option value="1412">Instituts Formation Administration</option><option value="1408">Instituts Maritimes</option><option value="1411">Instituts Techniques</option><option value="1413">Instituts de formation à l'enseignement</option>
        <option value="Instituts des études religieuses">Instituts des études religieuses</option><option value="11303">faculté polydisciplinaire</option></select>

                                            
<label for="type_formation"style="width: 225px;">Domaine de formation</label>
 <select [(ngModel)]="formation.Domaine" id="ecole_search_form_secteur_formation" name="ecole_search_form[secteur_formation]"style="width: 225px;" class="selecter form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                        
                                           
                                           
                                           
    <option value="">Choisir le Domaine</option><option value="Administration">Administration</option>
    <option value="Agroalimentaire et alimentaire">Agroalimentaire et alimentaire</option><option value="Artisanat - métiers d'art">Artisanat - métiers d'art</option>
    <option value="Audiovisuel et Infographie">Audiovisuel et Infographie</option><option value="Audit comptabilité gestion">Audit comptabilité gestion</option>
    <option value="Aéronautique et espace">Aéronautique et espace</option><option value="Banque assurance">Banque assurance</option>
    <option value="Biologie chimie pharmacie">Biologie chimie pharmacie</option><option value="Bâtiment - Travaux publics">Bâtiment - Travaux publics</option>
    <option value="Commerce International">Commerce International</option><option value="Commerce distribution">Commerce distribution</option>
    <option value="Communication">Communication</option><option value="Création">Création</option><option value="Culture">Culture</option>
    <option value="Digital">Digital</option><option value="Droit">Droit</option><option value="Développement Durable">Développement Durable</option>
    <option value="Electricité">Electricité</option><option value="Enseignement">Enseignement</option><option value="Entrepreneuriat">Entrepreneuriat</option>
    <option value="Environnement">Environnement</option><option value="Finance">Finance</option><option value="Fonction publique">Fonction publique</option>
    <option value="Gestion des entreprises et des organisations">Gestion des entreprises et des organisations</option><option value="Immobilier">Immobilier</option>
    <option value="Industrie">Industrie</option><option value="Information et Multimédia">Information et Multimédia</option>
    <option value="Informatique télécom web">Informatique télécom web</option><option value="Innovation">Innovation</option>
    <option value="Luxe">Luxe</option><option value="Management">Management</option><option value="Marketing publicité">Marketing publicité</option>
    <option value="Mécanique">Mécanique</option><option value="Médical">Médical</option><option value="Métiers du Politique">Métiers du Politique</option>
    <option value="Météorologie">Météorologie</option><option value="Presse et Médias">Presse et Médias</option><option value="Psychologie">Psychologie</option>
    <option value="Ressources humaines">Ressources humaines</option><option value="Sciences humaines">Sciences humaines</option>
    <option value="Sciences politiques">Sciences politiques</option><option value="Social">Social</option><option value="Sociologie">Sociologie</option>
    <option value="Sport">Sport</option><option value="Tourisme">Tourisme</option>
</select> 
</div>
<br>
<div class="d-flex justify-content-center">

    <button type="submit" class="btn btn-light">Rechercher</button> 
    </div>
    <br><br>
   
</div></div></form></div></div >

<div class="container" style="left: 230px;">
    <div class="row">
    <div  *ngFor="let formation of formations">
<app-formation-card  class="col-sm-2" style="width: 25%;"  [formation]="formation"></app-formation-card>
<br>
<br>

    </div>
</div>
</div>



    <div class="d-flex justify-content-center" *ngIf="pagination">
        <pagination 
            [boundaryLinks]="true" 
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" 
            nextText="&rsaquo;" 
            firstText="&laquo;" 
            lastText="&raquo;">
    </pagination></div>


