.row>* {
    flex-shrink: 0;
    width: 27%;
    max-width: 34%;
}

* { padding: 0; margin: 0; }
html, body { height: 100%; width: 100%; }

/******** + Sticky Footer ********/
#content {
    min-height: 100%;
    margin-bottom: -100px; /* Equivalent to footer's height */
}

.spacer, #footer {
    height: 100px;
}

#footer {
    position: relative;
    z-index: 1;
}
/******** - Sticky Footer ********/




/********  S T Y L I N G  ********/

#content {
    background-color: gold;
}

#footer {
    background-color: darkcyan;
    color: white;
}