    
<div class="col-sm-4" style="width: 600px;height: 318px;left: 101%;top: 10%;margin-left: -300px;position: fixed;" > 
    <div class="filtres-container formations"  > 
        <label>Filter de recherche</label>
        
        
<form  (ngSubmit)="Rechercher()" autocomplete="on"action="" method="post" id="ecoles_search_form" novalidate="true" data-toggle="validator"> 
<div class="row form-group" style="margin-right: -400px;">
<div class="col-sm-4 mb-20" style=" background-color: #0275d8">
<span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-ecole_search_form_ville-container"><span class="select2-selection__rendered" id="select2-ecole_search_form_ville-container" title="Choisir une ville"></span>
<span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span>
<span class="dropdown-wrapper" aria-hidden="true"></span>
<label for="secteur">Secteur  </label>  
<select [(ngModel)]="formation.Secteur" id="ecole_search_form_secteur" name="ecole_search_form[secteur]" class="selecter form-control">
<option value="a">Choisir le secteur</option><option value="privé">Privé</option>
<option value="public">Public</option></select>
                    
                    
                        

<div class="clearfix" style="width: 0%;">
                                
                                
                      
        <label for="secteur">Ville  </label>  
<select [(ngModel)]="formation.ville" id="ecole_search_form_secteur" name="ecole_search_form[secteur]" class="selecter form-control">
          
          
          
           <option *ngFor = "let ville of villes" [value]='ville'>{{ville}}</option>
        
        </select>                      
Type de formation

<select [(ngModel)]="formation.etablissement" value="a" id="ecole_search_form_type_formation" name="ecole_search_form[type_formation]" class="selecter form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                     <option value="a" selected disabled hidden>Choisir le type de formation</option>
                                    <option value="BBA">BBA</option>
                                    <option value="BTS">BTS</option>
                                    <option value="Baccalauréat">Baccalauréat</option>
                                    <option value="Bachelor">Bachelor</option>
                                    <option value="Bachelor/Master (combinés)">Bachelor/Master (combinés)</option>
                                    <option value="CPGE - CNC">CPGE - CNC</option>
                                    <option value="DEUG">DEUG</option>
                                    <option value="DEUST">DEUST</option>
                                    <option value="Diplôme ENCG">Diplôme ENCG</option>
                                    <option value="Diplôme Universitaire de Technologie - DUT">Diplôme Universitaire de Technologie - DUT</option>
                                    <option value="Diplôme d'Etudes Supérieures Approfondies">Diplôme d'Etudes Supérieures Approfondies</option>
                                    <option value="Diplôme d'Études Supérieures Spécialisées">Diplôme d'Études Supérieures Spécialisées</option>
                                    <option value="Doctorat">Doctorat</option><option value="11305">Ingénieur</option>
                                    <option value="Ingénieur d'État">Ingénieur d'État</option>
                                    <option value="International Master">International Master</option>
                                    <option value="Licence d'études fondamentales">Licence d'études fondamentales</option>
                                        <option value="Licence professionnelle">Licence professionnelle</option>
                                        <option value="Licences Sciences et techniques">Licences Sciences et techniques</option>
                                        <option value="MBA">MBA</option>
                                        <option value="Master">Master</option>
                                        <option value="Master Spécialisé">Master Spécialisé</option>
                                        <option value="Mastère Spécialisé">Mastère Spécialisé</option>
                                        <option value="Maîtrise Sciences Spécialisées">Maîtrise Sciences Spécialisées</option>
                                        <option value="Maîtrise Sciences et Techniques">Maîtrise Sciences et Techniques</option>
                                        <option value="Technicien">Technicien</option>
                                        <option value="Technicien Spécialisé">Technicien Spécialisé</option>
</select> <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 248px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-ecole_search_form_type_formation-container">
<span class="select2-selection__rendered" id="select2-ecole_search_form_type_formation-container" title="Choisir le type de formation"></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span> 
                                            
                                            
<label for="type_formation">Domaine de formation</label>
 <select [(ngModel)]="formation.domaine" id="ecole_search_form_secteur_formation" name="ecole_search_form[secteur_formation]" class="selecter form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                        
                                           
                                           
                                           
    <option value="">Choisir le Domaine</option><option value="Administration">Administration</option>
    <option value="Agroalimentaire et alimentaire">Agroalimentaire et alimentaire</option><option value="Artisanat - métiers d'art">Artisanat - métiers d'art</option>
    <option value="Audiovisuel et Infographie">Audiovisuel et Infographie</option><option value="Audit comptabilité gestion">Audit comptabilité gestion</option>
    <option value="Aéronautique et espace">Aéronautique et espace</option><option value="Banque assurance">Banque assurance</option>
    <option value="Biologie chimie pharmacie">Biologie chimie pharmacie</option><option value="Bâtiment - Travaux publics">Bâtiment - Travaux publics</option>
    <option value="Commerce International">Commerce International</option><option value="Commerce distribution">Commerce distribution</option>
    <option value="Communication">Communication</option><option value="Création">Création</option><option value="Culture">Culture</option>
    <option value="Digital">Digital</option><option value="Droit">Droit</option><option value="Développement Durable">Développement Durable</option>
    <option value="Electricité">Electricité</option><option value="Enseignement">Enseignement</option><option value="Entrepreneuriat">Entrepreneuriat</option>
    <option value="Environnement">Environnement</option><option value="Finance">Finance</option><option value="Fonction publique">Fonction publique</option>
    <option value="Gestion des entreprises et des organisations">Gestion des entreprises et des organisations</option><option value="Immobilier">Immobilier</option>
    <option value="Industrie">Industrie</option><option value="Information et Multimédia">Information et Multimédia</option>
    <option value="Informatique télécom web">Informatique télécom web</option><option value="Innovation">Innovation</option>
    <option value="Luxe">Luxe</option><option value="Management">Management</option><option value="Marketing publicité">Marketing publicité</option>
    <option value="Mécanique">Mécanique</option><option value="Médical">Médical</option><option value="Métiers du Politique">Métiers du Politique</option>
    <option value="Météorologie">Météorologie</option><option value="Presse et Médias">Presse et Médias</option><option value="Psychologie">Psychologie</option>
    <option value="Ressources humaines">Ressources humaines</option><option value="Sciences humaines">Sciences humaines</option>
    <option value="Sciences politiques">Sciences politiques</option><option value="Social">Social</option><option value="Sociologie">Sociologie</option>
    <option value="Sport">Sport</option><option value="Tourisme">Tourisme</option>
</select> 
</div>
<br>
<div class="d-flex justify-content-end">

    <button type="submit" class="btn btn-light">Rechercher</button> 
    </div>
    <br><br>
   
</div></div></form></div></div >

<div class="container">
    <div class="row">
    <div  *ngFor="let formation of formations">
<app-formation-card  class="col-sm-3" style="width: 25%;"  [formation]="formation"></app-formation-card>
<br>
<br>

    </div>
</div>
</div>



    <div class="d-flex justify-content-center" *ngIf="pagination">
        <pagination 
            [boundaryLinks]="true" 
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" 
            nextText="&rsaquo;" 
            firstText="&laquo;" 
            lastText="&raquo;">
    </pagination></div>


