<mat-card class="card wrapper">
    <div fxLayout>
      <img src="" class="avatar" alt="No Avatar" />
      <mat-card-header>
        <mat-card-title>{{ post.posterId }}</mat-card-title>
        <mat-card-subtitle>Created on:
          {{
            post.DateCreated  | date: "dd.MM.yyyy hh:mm:SS"
          }}</mat-card-subtitle>
        <mat-card-subtitle
          >Created by: {{ post.posterId }}</mat-card-subtitle
        >
      </mat-card-header>
    </div>
  
    <img mat-card-image src="" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <p>
        {{ post.content }}
      </p>
    </mat-card-content>
    <mat-card-actions class="action-btn" fxLayout fxLayoutAlign="space-between">
      <div class="like-dislike-btn">
        <button (click)="likePost(post)" mat-button>
          <mat-icon>thumb_up_alt</mat-icon>
        </button>
        <span #like class="likes">
 0
        </span>
  
        <button (click)="likePost(post)" mat-button>
          <mat-icon>thumb_down_alt</mat-icon>
        </button>
        <span #dislike class="dislikes">
    0
        </span>
      <!-- </div> -->
  
      <button
        
        (click)="deletePost()"
        mat-button
      >
        <mat-icon>delete</mat-icon>
      </button>
  
      <button  (click)="getDetails()" mat-button>
        <mat-icon>more_horiz</mat-icon>
      </button>
    <!-- </mat-card-actions>
  </mat-card> -->
  