

   
<div class="row pb-4" style="  border-style: groove; " >

    <div class="col-md-5"> 
      <div id="content" style="position: absolute;
      bottom: 0;
      left: 0;"><b><p> {{post.title}}</p></b></div>
      
            <div class="fh5co_news_img" style="
            left: 143%;"><img src="{{post.photoUrl}}" alt=""/>
            </div>
            <div>
        </div>
    </div>
    <div class="col-md-7 animate-box">
        <a href="Conseil-Orientation/{{post.postId}}" class="fh5co_magna py-2"> </a>
         <a href="Conseil-Orientation/{{post.postId}}" class="fh5co_mini_time py-3">
      
          {{post.posterName}} 
          {{post.dateCreated | date: 'dd MMM yyyy'}} </a>
            <p style="
            width: 178%;
            line-height: 1.2em;
            height: 3.6em;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;"> {{post.content}}</p>
          <a class="btn btn-primary" href="Conseil-Orientation/{{post.postId}}">ReadMore</a>
        </div>
    </div>
    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">
    </div>
