<ul class="list-unstyled school-info col-md-8"> 
<li class="col-md-6"><i class="fa fa-globe fa-fw"></i>
<b>Ville : </b> <a href="/villes/agadir">{{formation.ville}}</a></li> 
<li class="col-md-6"><i class="fa fa-phone fa-fw"></i>{{formation.phone}} <br> </li> 
<li class="clearfix border-bottom"></li> 
<li class="col-md-6"><i class="fa fa-link fa-fw"></i><b>Site : </b> 
<a href="http://www.e-tourisme.ma/" target="_blank" rel="nofollow">{{formation.site}}</a></li> 
<li class="col-md-6"><i class="fa fa-money fa-fw"></i><b>Secteur : </b> <a href="/etablissements-superieurs-prives">{{formation.secteur}}</a></li> 
<li class="clearfix border-bottom"></li> <li class="col-md-6"><i class="fa fa-university fa-fw"></i><b>Type d'établissement : </b> <a href="/ecoles/ecole-de-tourisme">{{formation.etablissement}}</a> - </li> 
<li class="col-md-6"><i class="fa fa-map-marker fa-fw"></i><b>Adresse : </b> {{formation.adresse}}</li> </ul>