<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.username}}" 
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="mb-2" *ngIf="(presence.onlineUsers$ | async).includes(member.username)" >
                    <i class="fa fa-user-circle text-success"></i> Online now
                </div>
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created | date: 'dd MMM yyyy'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <a class="btn btn-primary" href="Quiz/Metier">Mon Quiz</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading='About {{member.username}}' (selectTab)="onTabActivated($event)">
                <h4>School : {{member.school}}</h4>
                <h4>Degree :{{member.degree}} </h4>
                <h4>Sexe :{{member.gender}} </h4>
                <h4>City :{{member.city}} </h4>
                <h4>Email :{{member.email}} </h4>




            </tab>
            <tab heading='Liked Posts' (selectTab)="onTabActivated($event)">
                <h4>Speciality : {{member.speciality}}</h4>
            </tab>
            
            
        </tabset>
    </div>
</div>
