


<div class="container mt-5">
    <div *ngIf="!registerMode" style='text-align: center;'>
        <!-- <h1>Ma Boussole</h1>
        <p class="lead"> Ma boussole est la plateforme leader de l'orientation et l'éducation </p> -->


    

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)" ></app-register>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-3">
    <div class="container animate-box" data-animate-effect="fadeIn">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Domaine de Formation</div>
        </div>
        <div class="owl-carousel owl-theme js" id="slider1" >
            <div class="item px-2">
                <div class="fh5co_latest_trading_img_position_relative">
                    <a href='/Domaine/biologie-chimie-pharmacie	' >
                    <div class="fh5co_latest_trading_img" style="background-color: rgb(108, 204, 82); "> <div class="cards">
                        
                            <h2>Bio-chimie pharmacie</h2>
                         
                       </div>
                    </div>
                </a></div>
            </div>
            <div class="fh5co_latest_trading_img_position_relative"><a href='/Domaine/Audit+comptabilite+gestion' >
                <div class="fh5co_latest_trading_img" style="background-color: rgb(124, 80, 109); "> <div class="cards">
                    <div >
                        <h2>Audit comptabilité gestion</h2>
                        
                    </div>
                   </div>
                </div></a>
            </div>
            <div class="fh5co_latest_trading_img_position_relative"><a href='/Domaine/Informatique-telecom-web' >
                <div class="fh5co_latest_trading_img"style="background-color: rgb(60, 145, 156); "> <div class="cards">
                    <div >
                        <h2>Informatique télécom web</h2>
                        
                    </div>
                   </div>
                </div></a>
            </div>
            <div class="fh5co_latest_trading_img_position_relative"><a href='/Domaine/Tourisme' >
                <div class="fh5co_latest_trading_img" style="background-color:rgb(207, 78, 78) "> <div class="cards">
                    <div >
                        <h2>Tourisme</h2>
                        
                    </div>
                   </div>
                </div></a>
            </div>
            <div class="fh5co_latest_trading_img_position_relative"><a href='/Domaine/Journalisme' >
                <div class="fh5co_latest_trading_img" style="background-color:rgb(163, 114, 102) "> <div class="cards">
                    <div >
                        <h2>Journalisme</h2>
                        
                    </div>
                   </div></div></a>
                </div>
            
            <div class="fh5co_latest_trading_img_position_relative"><a href='/Domaine/Industrie' >
                <div class="fh5co_latest_trading_img" style="background-color:rgb(140, 49, 182) "> <div class="cards">
                    <div >
                        <h2>Industrie</h2>
                        
                    </div>
                   </div>
                </div></a>
            </div>
            <div class="fh5co_latest_trading_img_position_relative"><a href='/Domaine/Ressources-humaines' >
                
                <div class="fh5co_latest_trading_img"style="background-color: rgb(219, 144, 73); ">
                    <div class="cards">
                    <div >
                       <h2>Ressources humaines</h2>
                        
                    </div>
                   </div>
                </div></a>
                        
            </div>


            <div class="fh5co_latest_trading_img_position_relative">
                <a href='/Domaine/droit' >
                <div class="fh5co_latest_trading_img"style="background-color:rgb(182, 49, 178)" > 
                    <div class="cards">
                    <div >
                        <h2>Droit</h2>
                        
                    </div>
                   </div>
                </div> </a>
            
            
            
            </div>




            <div class="fh5co_latest_trading_img_position_relative"><a href='/Domaine/audiovisuel-et-infographie' >
                <div class="fh5co_latest_trading_img"style="background-color: rgb(207, 209, 68); "> <div class="cards">
                    <div >
                        <h2>Audiovisuel&Infographie</h2>
                        
                    </div>
                   </div>
                </div></a></div>
            </div> 
            
<div class="container-fluid paddding mb-5">
    <div class="row mx-0">
        <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">
            Most Viewed Conseil Orientation</div>

        <div class="col-md-6 col-12 paddding animate-box" data-animate-effect="fadeIn" *ngFor="let post of posts">

            <div class="fh5co_suceefh5co_height"><img src="{{post.photoUrl}}" alt="img"/>
                <div class="fh5co_suceefh5co_height_position_absolute"></div>
                <div class="fh5co_suceefh5co_height_position_absolute_font">
                    <div class="Filieres-Orientations/{{post.postId}}"><a href="Filieres-Orientations/{{post.postId}}" class="color_fff"> <i class="fa fa-clock-o"></i>{{post.dateCreated |date}}
                    </a></div>
                    <div class="Filieres-Orientations/{{post.postId}}"><a href="Filieres-Orientations/{{post.postId}}" class="fh5co_good_font">{{post.title}} </a></div>
                </div>
            </div>
        </div>
        
    </div>
</div>

             
       

































