.wrapper {
    margin: 0 auto;
  }
  .divider-container {
    width: 100%;
  }
  
  .site {
     position: relative;
     min-height: 100vh;
    background-image: url("./../../assets/undraw_Wall_post_re_y78.png");
    background-size: contain;
    display: flex;
    flex-direction: column;
    box-sizing: inherit;
  }
  .line {
    flex: 1;
  }
  form{
    background-color: rgb(255, 255, 255);
  }
  
  .text {
    padding: 0 10px;
  }
  
  .sign-up-container {
    margin: 3% 20%;
    border-radius: 0.5em;
    box-shadow: 0 0 1em gray;
    padding: 15px 26px;
    opacity: 0.9;
    width: 44%;
  }
  
  .btn-sign-up {
    margin: 0 20%;
  }
  
  .avatar {
    width: 30px;
  }
  
  .redirect {
    color: #673ab7;
    cursor: pointer;
    font-weight: bold;
  }
  
  @media (max-width: 600px) {
    .sign-up-container {
      margin: 5%;
      width: 300px;
    }
    .btn-sign-up {
      margin: 0;
    }
  }
  .left {
    width: 50%;
  }
  .right{
    width: 40%;
  }
  
  .cover{
    background-image:url("./../../assets/undraw_Wall_post_re_y78d.png");
    background-size: contain;

  }